# Ignore environment variables
.env
.env.*

# Ignore node modules
node_modules/
**/node_modules/

# Ignore build folders
build/
dist/
**/build/
**/dist/

# Ignore logs
logs/
*.log

# Allow client and server folders to be tracked
!client/
!server/
